@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<h1>@ViewData["Title"]</h1>

<p><strong>Mã sinh viên:</strong> 230900083</p>
<p><strong>Họ và tên:</strong> Phạm Đình Phùng</p>
<p><strong>Email:</strong> phamdinhphung79@gmail.com</p>
<p><strong>Ngày sinh:</strong> 07/09/2005</p>
<p><strong>Lớp:</strong> K23CNT3</p>
