<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Pdp App</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h2>My Pdp App</h2>
    </header>
    <main role="main" class="container">
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2025 - PdpLesson</p>
    </footer>
</body>
</html>
