﻿@Model List<PdpLesson5.Models.PdpMember>

@{
    ViewData["Title"] = "Member List";
}

<h2>Member List</h2>

<table class="table table-bordered">
    <thead>
        <tr class="alert alert-info">
            <th>ID</th>
            <th>Name</th>
            <th>Password</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var member in Model)
    {
        <tr>
            <td>@member.id</td>
            <td>@member.PdpName</td>
            <td>@member.PdpPassword</td>
            <td>@member.PdpEmail</td>
        </tr>
    }
    </tbody>
</table>